@model MatStacks.Models.Subject

<h1>@Model.Title</h1>

<h3>@Model.Description</h3>

@foreach (var p in Model.Posts)
{
    <div>
       
        <h2>
            @Html.ActionLink(@p.Title, "Index", "Post", new { id = p.Id }, null)
        </h2>
    </div>
}

<h4>
    <a href="http://localhost:61509/Post/Create/@Model.Id">Lav dit eget opslag</a>
</h4>
