@addTagHelper *, MatStacks
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model MatStacks.Models.ExerciseSubject

@{
    Layout = "_Layout";
}

@Model.Title
<br />
@Model.Description
<br />
@foreach (var item in Model.Exercises)
{
    @item.Title
    <br />
    @item.Body
}


<div>
    <p><a asp-area="" asp-action="Create" asp-controller="Exercise">Create new exercise</a></p>
</div>
